.experience-container {
  display: inline-block;
  background-color: white;
}


.experience-body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0px auto;
  padding: 120px 16px;
  /* background-color:blue; */
}

.experience-title > h2 {
  padding-bottom: 80px;
}

.experience-item {
  display: flex;
  flex-direction: row;
  min-height: 400px;
}

.experience-content {
  min-width: 35%;
  flex: .35;
  padding-right: 30px;
}

.experience-content > h4 {
  padding-top: 20px;

}

.experience-swiper {
  min-width: 65%;
  flex: .65;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  padding: 25px;
  background-color: #F8F8F8;
}

.experience-item-bottom {
  display: flex;
  flex-direction: row;
}

.experience-content-bottom {
  min-width: 50%;
  flex: .5;
}

