* {
    box-sizing: border-box;
}

.experience-container {
    display: block;
}

.experience-body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0px auto;
}

.experience-content {
    display: flex;
    flex-direction: column;
} 

/* Timeline CSS */

/* Timeline Container */
.timeline {

    margin: 20px auto;
    padding: 20px;
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 2px solid #333;
  }
  
  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: white;
    color: gray;
    border-radius: 8px;
    /* max-width: 1000px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Title of the card */
  .title {
    color: orangered;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
  }

