.experience-container {
  display: inline-block;
  background-color: white;
}

.experience-body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
  padding: 80px 16px;
}

.experience-body h2 {
  margin-bottom: 40px;
}

.experience-body h4 {
  margin-top: 20px;
}

.experience-body p {
  margin-top: 20px;
}

.company {
  margin-top: 10px;
}

.location-date {
  margin-top: 10px;
}

.experience-item {
  display: flex;
  flex-direction: column;
}

.ei-padding-top {
  margin-top: 40px;
}

.experience-content {
  min-width: 100%;
  flex: 1;
}

.experience-swiper {
  min-width: 100%;
  flex: .1;
  margin-top: 40px;
}

.swiper {
  width: 100%;
  height: 380px;
}

.swiper-slide {
  padding: 60px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.swiper-slide h5 {
  margin-top: 20px;
}

.swiper-button-prev {
  color: #747474 !important;
  opacity: .2;
}

.swiper-button-next {
  color: #747474 !important;
  opacity: .2;
}

.swiper-pagination {
  opacity: .5;
  font-family: "Lato";
  font-weight: 300;
  font-size: 12px;
  top: 90% !important;
}

.experience-item-bottom {
  display: flex;
  flex-direction: column;
}

.experience-content-bottom {
  min-width: 100%;
  flex: 1;
}

@media screen and (min-width: 600px) {

  .swiper {
    height: 300px;
  }

}

@media screen and (min-width: 800px) {

  .experience-body {
    padding: 120px 16px;
  }

  .experience-body h2 {
    margin-bottom: 80px;
  }

  .experience-item {
    display: flex;
    flex-direction: row;
    min-height: 400px;
  }

  .ei-padding-top {
    margin-top: 80px;
  }

  .experience-content {
    min-width: 50%;
    flex: .5;
    padding-right: 30px;
  }

  .experience-swiper {
    min-width: 50%;
    flex: .5;
    margin-top: unset;
  }

  .swiper {
    height: 100%;
  }

  .experience-item-bottom {
    display: flex;
    flex-direction: row;
  }
  
  .experience-content-bottom {
    min-width: 45%;
    flex: .45;
  }

  .experience-filler {
    min-width: 5%;
    flex: .05;
  }

}

@media screen and (min-width: 1000px) {

  .experience-content {
    min-width: 40%;
    flex: .4;
  }

  .experience-swiper {
    min-width: 60%;
    flex: .6;
  }

}