.music-spotlight-container {
    display: inline-block;
    background-color: #121212;
}

.music-spotlight-body {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 120px 16px;
}

.music-spotlight-body h4 {
    color: white;
}

.music-spotlight-body h5 {
    color: white;
}

.music-spotlight-body p {
    color: white;
}

.music-spotlight-top {
    display: flex;
    flex-direction: column;
}

.music-spotlight-top-content {
    min-width: 100%;
    flex: 1;
}

.music-spotlight-top-vid {
    min-width: 100%;
    flex: 1;
    opacity: .5;
}

.music-spotlight-top-vid > video {
    object-fit: contain;
    width: 100%;
}

.music-spotlight-bottom {
    display: flex;
    flex-direction: row;
}
