.music-spotlight-container { 
    display: inline-block;
}

.music-spotlight-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap"
    ;
}

video {
    z-index: 0;
    grid-area: overlap;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    z-index: 50;
    grid-area: overlap;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
}

.music-spotlight-content {
    z-index: 100;
    grid-area: overlap;
    display: grid;
    text-align: center;
    gap: 20px;
    padding: 70px 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "music-spotlight-content1"
                         "music-spotlight-content2"
                         "music-spotlight-content3"
                         "music-spotlight-content4"   
    ;
}

.music-spotlight-content h2 {
    color: white;
    padding-top: 15px;
}

.music-spotlight-content h4 {
    color: white;
    padding-top: 15px;
}

.music-spotlight-content p {
    color: white;
    padding-top: 30px;
}

.music-spotlight-content1 {
    grid-area: music-spotlight-content1;
    background-color: white;
    padding: 30px 20px;
}

.music-spotlight-content1 h2 {
    color: #121212;
}

.music-spotlight-content1 p {
    color: #121212;
}

.music-spotlight-content2 {
    grid-area: music-spotlight-content2;

}

.music-spotlight-content3 {
    grid-area: music-spotlight-content3;

}

.music-spotlight-content4 {
    grid-area: music-spotlight-content4;

}

.music-spotlight-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1000px) {

    video {
        z-index: 0;
        grid-area: overlap;
        object-fit: cover;
        max-height: 900px;
    }

    .music-spotlight-content {
        z-index: 100;
        grid-area: overlap;
        display: grid;
        text-align: center;
        max-width: 1440px;
        margin: 0px auto;
        gap: 20px;
        padding: 0px 25px 70px 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "music-spotlight-content1 music-spotlight-content1 music-spotlight-content1"
                             "music-spotlight-content2 music-spotlight-content3 music-spotlight-content4"
        ;
    }

    .music-spotlight-content1 {
        background-color: transparent;
        padding: 0px 0px;
        max-width: 720px;
        margin: 0px auto;
    }

    .music-spotlight-content1 h2 {
        color: white;
    }
    
    .music-spotlight-content1 p {
        color: white;
    }
}