.content-gallery-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content-gallery-column {
    flex: 100%;
    max-width: 100%;
}

.audio-container {
    display: flex;
    flex-direction: column;
    padding: 35px 5px;
    text-align: center;
}

.audio-container > h5 {
    color: white;
    margin-bottom: 25px;
}

.content-gallery-column audio {
    display: block;
    width: 100%;
}

.content-gallery-column > video {
    width: 100%;
    display: block;
}

.content-gallery-column video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.content-gallery-column > img {
    width: 100%;
    display: block;
}

.content-gallery-column p {
    background-color: red;
}

@media screen and (min-width: 600px) {

    .content-gallery-column {
      flex: 50%;
      max-width: 50%;
    }

}

@media screen and (min-width: 1000px) {

    .content-gallery-column {
      flex: .25;
      max-width: 25%;
    }
}


