.content-gallery-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content-gallery-column {
    flex: .25;
    max-width: 25%;
}

.content-gallery-column video {
    /* width: 100%; */
    display: block;
}

.content-gallery-column video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.content-gallery-column img {
    width: 100%;
    display: block;
}

.content-gallery-column audio {
    display: block;
}

.content-gallery-column p {
    background-color: red;
}

@media screen and (max-width: 800px) {

    .content-gallery-column {
      flex: 50%;
      max-width: 50%;
    }

}

@media screen and (max-width: 600px) {

    .content-gallery-column {
      flex: 100%;
      max-width: 100%;
    }
}


