.content-gallery-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content-gallery-column {
    flex: 100%;
    max-width: 100%;
}

.audio-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    background-color: #1E1E1E;
}

.audio-container > h5 {
    color: white;
    margin-bottom: 25px;
}

audio {
    display: block;
    width: 100%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.content-gallery-column > video {
    width: 100%;
    display: block;
}

.content-gallery-column video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.content-gallery-column > img {
    width: 100%;
    display: block;
}

.content-gallery-column p {
    background-color: red;
}

@media screen and (min-width: 767px) {

    .content-gallery-column {
      flex: 50%;
      max-width: 50%;
    }

}

@media screen and (min-width: 1024px) {

    .content-gallery-column {
      flex: .25;
      max-width: 25%;
    }
}


