.skills-education-container {
    display: inline-block;
    background-color: #F8F8F8;
}

.skills-education-body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0px auto;
    padding: 80px 16px;
}

.skills-education-left {
    min-width: 100%;
    flex: 1;
}

.skills-education-left > h2 {
    margin-bottom: 40px;
}
.skills-education-left > p {
    margin-top: 20px;
}

.language-ticker {
    margin-top: 40px;
}

.skills-education-right {
    min-width: 100%;
    flex: 1;
    margin-top: 80px;
}

.skills-education-right h2 {
    margin-bottom: 40px;
}

.skills-education-right p {
    margin-top: 10px;
}

.education-item {
    display: flex;
    flex-direction: row;
}

.ei-margin-top {
    margin-top: 40px;
}

.education-item-school {
    margin-left: 20px;
}
  
@media screen and (min-width: 800px) {

    .skills-education-body {
        padding: 120px 16px;
    }

    .skills-education-right {
        margin-top: 120px;
    }

    .education-items {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .education-item {
        display: flex;
        flex-direction: column;
        min-width: 30%;
        flex: .3;
    }

    .ei-margin-top {
        margin-top: unset;
    }

    .education-item-school {
        margin-left: unset;
        margin-top: 20px;
    }

}
  
@media screen and (min-width: 1000px) {

    .skills-education-body {
        flex-direction: row;
    }

    .skills-education-left {
        min-width: 60%;
        flex: .6;
    }

    .skills-education-filler {
        min-width: 10%;
        flex: .1;
    }

    .skills-education-right {
        min-width: 30%;
        flex: .3;
        margin-top: unset;
    }

    .education-items {
        flex-direction: column;
        gap: unset;
    }

    .education-item {
        flex-direction: row;
    }

    .ei-margin-top {
        margin-top: 40px;
    }

    .education-item-school {
        margin-left: 20px;
        margin-top: unset;
    }

}
