.skills-education-container {
    display: inline-block;
    background-color: #F8F8F8;
}

.skills-education-body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0px auto;
    padding: 120px 16px;
}

.skills-education-left {
    min-width: 100%;
    flex: 1;
}

.skills-education-left > h2 {
    padding-bottom: 40px;
}
.skills-education-left > p {
    padding-top: 10px;
}

.language-ticker {
    padding-top: 40px;
}

.filler {
    min-width: 100%;
    flex: 1;
}

.skills-education-right {
    min-width: 100%;
    flex: 1;
}

.skills-education-right > h2 {
    padding-bottom: 40px;
}

.education-item {
    display: flex;
    flex-direction: row;
}

.ei-padding-top {
    padding-top: 30px;
}

.education-item-school {
    padding-left: 30px;
}

@media screen and (min-width: 600px) {
}
  
@media screen and (min-width: 800px) {

    .skills-education-body {
        flex-direction: row;
    }

    .skills-education-left {
        min-width: 60%;
        flex: .6;
    }

    .filler {
        min-width: 10%;
        flex: .1;
    }

    .skills-education-right {
        min-width: 30%;
        flex: .3;
    }

}
  
@media screen and (min-width: 1000px) {
}
