.full-bleed-quicklinks-main {
    box-shadow: 0 0 0 100vmax #EEEEEE;
    clip-path: inset(0 -100vmax); 
}

.quicklinks-main-container {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    background-color: #EEEEEE;
    min-height: 75px;
}

.quicklinks-main-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.quicklinks-main-link:hover {
    opacity: .6;
}

.quicklinks-main-link p {
    display: flex;
    margin: 0px;
}

.icon {
    padding-right: 10px;
}

