.music-video-wrapper { 
    display: grid;
}

.music-video-wrapper > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.music-video-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 175%;
    background-color: black;
    opacity: .8;
}

.music-video-wrapper > img {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 175%;
    object-fit: cover;
}

.music-layout {
    z-index: 100;
    display: grid;
    align-items: space-around;
    padding: 70px 0px; 
    gap: 40px;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "music-content1"
                         "music-content2"
                         "music-content3"
                         "music-content4"   
    ;
}

.music-layout h2 {
    color: white;
    padding-top: 15px;
}

.music-layout h3 {
    color: white;
    padding-top: 15px;
}

.music-layout p {
    color: white;
    padding-top: 30px;
}

.music-content1 {
    grid-area: music-content1;
    padding: 0px 25px;
}

.music-content2 {
    grid-area: music-content2;
    padding: 0px 25px;
}

.music-content3 {
    grid-area: music-content3;
    padding: 0px 25px;
}

.music-content4 {
    grid-area: music-content4;
    padding: 0px 25px;
}

.music-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {

    .music-layout {
        z-index: 100;
        display: grid;
        align-items: center;
        padding: 0px 0px;
        gap: 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "music-content1 music-content1 music-content1"
                             "music-content2 music-content3 music-content4"
                             "music-content2 music-content3 music-content4"
        ;
    }

    .music-video-wrapper::after {
        height: 100%;
    }
    
    .music-video-wrapper > img {
        height: 100%;
    }

    .music-content2 {
        padding-bottom: 40px;
    }
    
    .music-content3 {
        padding-bottom: 40px;
    }
    
    .music-content4 {
        padding-bottom: 40px;
    }

}


@media (min-width: 1200px) {

    .music-layout {
        z-index: 100;
        display: grid;
        align-items: center;
        padding: 70px 0px;
        gap: 0px;
        text-align: left;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "music-content1 music-content2"
                             "music-content1 music-content3"
                             "music-content1 music-content4"
        ;
    }

    .music-video-wrapper::after {
        height: 100%;
    }
    
    .music-video-wrapper > img {
        height: 100%;
    }

}