.about-container {
    display: inline-block;
}

.about-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 720px;
    margin: 0px auto;
    padding: 80px 25px;
}


.about-content-row {
    display: flex;
    flex-direction: row;

}

.about-content-row-item {
    display: flex;
    flex-direction: column;
    flex: .5;
    justify-content: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

@media screen and (min-width: 600px) {

    .about-body {
        width: 80%;
    }

}

@media screen and (min-width: 800px) {

    .about-body {
        padding: 120px 30px;
        width: 100%;
    }

}