.about-container {
    display: inline-block;
    background-color: #F8F8F8;
}

.about-body {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.about-content-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    text-align: center;
    background-color: white;
    padding-top: 40px;

}

.aci-padding-bottom-less-767 {
    padding-bottom: 40px;
}

@media screen and (min-width: 767px) {

    .about-body {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 60px;
    }

    .about-content-item {
        min-width: 50%;
        flex: .5;
    }

    .aci-padding-bottom-767 {
        padding-bottom: 40px;
    }

}

@media screen and (min-width: 1024px) {

    .about-body {
        padding: 0px 120px;
    }

}



@media screen and (min-width: 1200px) {

    .about-body {
        padding: 0px 120px;
    }

    .about-content-item {
        min-width: 25%;
        flex: .25;
        padding: 80px 0px;
    }

}