.about-container {
    display: inline-block;
    background-color: #F8F8F8;
}

.about-body {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    padding: 40px 16px;
    background-color: white;
}

.about-content-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    text-align: center;
}

.aci-mobile-padding-top {
    padding-top: 25px;
}

@media screen and (min-width: 600px) {

    .about-body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-content-item {
        min-width: 50%;
        flex: .5;
    }

    .aci-mobile-padding-top {
        padding-top: unset;
    }

    .aci-tablet-padding-top {
        padding-top: 30px;
    }
}

@media screen and (min-width: 1000px) {

    .about-body {
        padding: 80px 16px;
    }

    .about-content-item {
        min-width: 25%;
        flex: .25;
    }

    .aci-tablet-padding-top {
        padding-top: unset;
    }

}