.featured-content-container {
    display: inline-block;
    background-color: #121212;
}

.featured-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0px auto;
    padding: 80px 16px 0px 16px;
    /* background-color: red; */
}

.featured-content h2 {
    color: white;
}

.featured-content p {
    color: white;
    opacity: .8;
    margin-top: 20px;
    margin-bottom: 40px;
}
  
@media screen and (min-width: 800px) {

    .featured-content {
        padding: 120px 16px 0px 16px;
    }

    .featured-content p {
        margin-bottom: 80px;
    }

}