.transition-container {
    display: inline-block;
    background: linear-gradient( #F8F8F8, #121212 80%);
}

.transition-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1440px;
    margin: 0px auto;
    padding: 80px 30px;
    align-items: center;
}

.transition-content h5 {
    margin-top: 40px;
}

.transition-content p {
    margin-top: 20px;
    max-width: 540px;
    margin-bottom: 40px;
}

.transition-kevin-images {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0px auto;
}

.transition-kevin-images img {
    display: block;
    object-fit: contain;
    min-width: 50%;
    flex: .5;
    width: 100%;
}

@media screen and (min-width: 767px) {

    .transition-body {
        padding: 100px 60px;
    }

    .transition-content h5 {
        margin-top: 60px;
    }

    .transition-content p {
        margin-bottom: 60px;
    }

}

@media screen and (min-width: 1024px) {

    .transition-body {
        padding: 120px;
    }

    .transition-content h5 {
        margin-top: 80px;
    }

    .transition-content p {
        margin-bottom: 80px;
    }

}