.transition-container {
    display: inline-block;
    background: linear-gradient( #F8F8F8, #121212);
}

.transition-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    margin: 0px auto;
    padding: 120px 16px;
}

.transition-content {
    grid-area: bodycontent;
    padding: 0px 25px;
    max-width: 720px;
    margin: 0px auto;
}

.transition-content h2 {
    padding-top: 15px;
}

.transition-content p {
    padding-top: 30px;
}

.transition-kevin-images {
    display: flex;
    flex-direction: row;
}

.image-left {
    display: block;
    object-fit: contain;
    min-width: 50%;
    flex: .5;
    /* width: 100%;
    height: auto; */
    max-height: 600px;
}

.image-right {
    display: block;
    object-fit: contain;
    min-width: 50%;
    flex: .5;
    /* width: 100%;
    height: auto; */
    max-height: 600px;
}