.full-bleed-footer {
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax); 
}

.quicklinks-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #121212;
    padding-right: 43px;
}

.quicklinks-footer-container a {
    text-decoration: none;
}

.quicklinks-footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120px;
    align-items: center;
}

.quicklinks-footer-link:hover {
    opacity: .6;
}

.quicklinks-footer-link-item {
    display: grid;
    color: white;
    opacity: .8;
}

.quicklinks-footer-link span {
    padding: 10px;
    font-family: "Jakarta";
    font-weight: 400;
    font-size: clamp(14px, 3.5vw, 20px);
    justify-self: end;
}




