.full-bleed-quicklinks-footer {
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax); 
}

.quicklinks-footer-container {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    background-color: #121212;
    padding-top: 40px;
}

.quicklinks-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.quicklinks-footer-link:hover {
    opacity: .6;
}

.quicklinks-footer-link p {
    display: flex;
    margin: 0px;
    color: white;
    opacity: .8;
}

.icon {
    padding-right: 10px;
}

