.hamburger {
    width: 2rem;
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    padding-right: 15px;
}

.slice {
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: #161C28;
    transform-origin: 1px;
    transition: all 0.2s linear;
}


