.hamburger {
    width: 2rem;
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    z-index: 90;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.2s linear;
}


