.mobile-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    background-color: white;
}

.mobile-links li {
    text-align: center;
    padding: 15px 0px;
    text-decoration: none;
}
