.navigation-container {
    display: inline-block;
    background-color: #D0ECF5;
    opacity: .9;
}

.navigation-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navigation-body img {
    display: block;
    height: clamp(40px, 5vw, 50px);
    width: auto;
}

@media screen and (min-width: 767px) {

    .navigation-container {
        opacity: unset;
    }

    .navigation-body {
        padding: 25px 25px 15px 25px;
    }

    /* .navigation-body img {
        height: 50px;
    } */

}