* {
    margin: 0px;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Thin"),
    url("./Fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Light"),
    url("./Fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"),
    url("./Fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"),
    url("./Fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Black"),
    url("./Fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(50px, 5vw, 75px);
    color: #121212;
    letter-spacing: -3px;
    line-height: clamp(55px, 5vw, 80px);;
}

h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(36px, 5vw, 60px);
    color: #121212;
    letter-spacing: -2px;
}

h3 {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(30px, 5vw, 48px);
    color: #121212;
    letter-spacing: -2px;
}

h4 {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(24px, 6vw, 36px);
    color: #121212;
    letter-spacing: -1px;
    line-height: 40px;
}

h5 {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(18px, 4vw, 24px);
    color: #121212;
    letter-spacing: -1px;
    line-height: 30px;
}

p {
    font-family: "Lato";
    font-weight: 300;
    font-size: clamp(14px, 3.5vw, 20px);
    color: #121212;
    line-height: 30px;
}

/* Come back and edit the mobile for a links */

.nav-links {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    text-decoration: none;
}

.eyebrow {
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    color: #121212;
}

.hero-button {
    width: 130px;
    padding: 15px 0px;
    margin-top: 40px;
    border-style: none;
    background-color: #121212;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}

.hero-button:hover {
    opacity: .6;
}

.kpi {
    font-family: "Lato";
    font-weight: 300;
    font-size: clamp(30px, 5vw, 48px);
    color:#121212;
    letter-spacing: -2px;
}

.text-link {
    font-family: "Lato";
    font-weight: 300;
    font-size: clamp(14px, 3.5vw, 20px);
    color: #121212;
    line-height: 30px;
}

.text-link:hover {
    opacity: .6;
}

.company {
    font-family: "Lato";
    font-weight: 400;
    font-size: clamp(14px, 3.5vw, 20px);
    color: #121212;
    line-height: 30px;
}

.location-date {
    font-family: "Lato";
    font-weight: 300;
    font-size: clamp(12px, 3.5vw, 16px);
    color: #121212;
}

.dark-button {
    width: 130px;
    padding: 15px 0px;
    margin-top: 40px;
    border-style: none;
    background-color: #1E1E1E;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}

.dark-button:hover {
    opacity: .6;
}

.footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    opacity: .8;
}


/* Breakpoints */

/* @media screen and (min-width: 600px) {
}
  
@media screen and (min-width: 800px) {
}
  
@media screen and (min-width: 1000px) {
} */


