* {
    margin: 0px;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}

li {
    font-family: "Jakarta";
}


