* {
    margin: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Jakarta";
    src: local("PlusJakartaSans-VariableFont_wght"),
    url("./Fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

h1 {
    font-family: "Jakarta";
    font-weight: 700;
    font-size: clamp(50px, 5vw, 72px);
    color: #121212;
    letter-spacing: -2px;
    line-height: clamp(55px, 5vw, 80px);;
}

h2 {
    font-family: "Jakarta";
    font-weight: 700;
    font-size: clamp(36px, 5vw, 60px);
    color: #121212;
}

h3 {
    font-family: "Jakarta";
    font-weight: 700;
    font-size: clamp(30px, 5vw, 48px);
    color: #121212;
}

h4 {
    font-family: "Jakarta";
    font-weight: 700;
    font-size: clamp(24px, 5vw, 30px);
    color: #121212;
}

p {
    font-family: "Jakarta";
    font-weight: 400;
    font-size: clamp(14px, 3.5vw, 20px);
    color: #121212;
    line-height: 30px;
}

/* Come back and edit the mobile for a links */

a {
    font-family: "Jakarta";
    font-weight: 600;
    font-size: 16px;
    color: #121212;
}

.eyebrow {
    font-family: "Jakarta";
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    color:#1EC5F5;
}

.grid-button {
    width: 130px;
    padding: 15px 0px;
    margin-top: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: #1ec5f5;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Jakarta";
    font-weight: 600;
    font-size: 16px;
}

.grid-button:hover {
    opacity: .6;
}

.flex-button {
    min-width: 125px;
    padding: 15px 0px;
    margin-top: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: #1ec5f5;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Jakarta";
    font-weight: 600;
    font-size: 16px;
}

.flex-button:hover {
    opacity: .6;
}





