.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #121212;
    justify-items: center;
    align-items: center;
    padding-top: 120px;
}

.footer-container > h2 {
    padding-top: 20px;
    color: white;
}

.footer-container > p {
    padding-top: 40px;
    color: white;
    opacity: .8;
    max-width: 720px;
    text-align: center;
}

.button {
    width: 130px;
    padding: 15px 0px;
    margin-top: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: #1ec5f5;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Jakarta";
    font-weight: 600;
    font-size: 16px;
}

.button:hover {
    opacity: .6;
}

.design-tag {
    font-family: "Jakarta";
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity: .5;
    padding: 30px 0px 30px 0px;
}



@media (max-width: 767px){

    .footer-container {
        padding: 70px 25px 0px 25px;
    }

    .footer-container > p {
        padding-top: 30px;
    }

    .design-tag {
        padding: 20px 0px 30px 0px;
    }
}