/* .full-bleed-footer {
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax); 
} */

.footer-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: #121212;

}

.footer-main-body {
    max-width: 720px;
    justify-items: center;
    text-align: center;
    margin: 0px auto;


}

.footer-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-main-content > .eyebrow {
    padding-top: 120px;
}

.footer-main-content > h2 {
    padding-top: 20px;
    color: white;
}

.footer-main-content > p {
    padding-top: 40px;
    color: white;
    opacity: .8;
}

.design-tag {
    font-family: "Jakarta";
    font-weight: 400;
    font-size: 14px;
    color: white;
    opacity: .5;
    padding: 120px 0px 40px 0px;
}

@media (max-width: 767px){

    .footer-main-content {
        padding: 0px 25px;
    }

    .footer-main-content > .eyebrow {
        padding-top: 70px;
    }

    .design-tag {
        padding: 40px 0px;
    }
}

