.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #121212;
}

.footer-container p {
    color: white;
    font-family: "Jakarta";
    font-weight: 500;
    font-size: 16px;
    opacity: .8;
}
