.hero-container {
    display: inline-block;
}

.hero-container-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap"
    ;
    align-items: center;
}

.hero-container-content {
    z-index: 100;
    grid-area: overlap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 25px;
}

.hero-container-content > h1 {
    padding-top: 20px;
}

.hero-container-content > p {
    padding-top: 40px;
}

.hero-container-media {
    grid-area: overlap;
    max-height: 600px;
    overflow: hidden;
}

.hero-overlay {
    z-index: 50;
    grid-area: overlap;
    width: 100%;
    height: 100%;
    background-color: #D0ECF5;
    opacity: .9;

}

.hero-container-media img {
    object-fit: contain;
    width: 100%;
    display: block;
}

@media screen and (min-width: 767px) {

    .hero-container {
        background-color: #D0ECF5;
    }

    .hero-container-body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "heroleft heroright"
        ;
        max-width: 1440px;
        margin: 0px auto;
        align-items: center;
    }

    .hero-container-content {
        grid-area: heroleft;
        text-align: left;
        align-items: unset;
        padding: 0px 30px;
    }

    .hero-container-media {
        grid-area: heroright;
        max-height: 900px;
    }

    .hero-overlay {
        display: none;
    }

}