.hero-container {
    display: inline-block;
    height: 90vh;
    max-height: 700px;
}

.hero-container-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap"
    ;
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.hero-container-content {
    z-index: 100;
    grid-area: overlap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 30px;
}

.hero-container-content > h1 {
    margin-top: 20px;
}

.hero-container-content > p {
    margin-top: 40px;
}

.hero-container-media {
    grid-area: overlap;
}

.hero-image-mobile {
    grid-area: overlap;
    overflow: hidden;
    object-fit: cover;
    object-position: center top;
    display: block;
    height: 90vh;
    width: 100%;
    max-height: 700px;
}

.hero-overlay {
    z-index: 50;
    grid-area: overlap;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    opacity: .9;
}

@media screen and (min-width: 767px) {

    .hero-container {
        background-color: #F8F8F8;
        height: 70vh;
        max-height: unset;
    }

    .hero-container-body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "heroleft heroright"
        ;
        padding: 0px 60px;
    }

    .hero-container-content {
        grid-area: heroleft;
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        padding: unset;
        padding-right: 20px;
    }

    .hero-container-media {
        grid-area: unset;
        grid-area: heroright;
    }

    .hero-container-media img{
        object-fit: cover;
        object-position: center top;
        height: 70vh;
        max-height: unset;
        width: 100%;
    }

    .hero-overlay {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    .hero-container {
        height: 80vh;
    }

    .hero-container-body {
        padding: 0px 120px;
    }

    .hero-container-content {
        padding-right: unset;
    }

    .hero-container-media img{
        height: 80vh;
    }

}


