.expertise-container {
    display: inline-block;
    background-color: #F8F8F8;
    /* background-color: red; */
}

.expertise-body {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 80px 16px;
    /* background-color:blue; */
}

.expertise-title {
    width: 100%;
    flex: 1;
    text-align: center;
}

.expertise-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.expertise-logos > img {
    min-width: 50%;
    flex: .5;
    object-fit: contain;
}

.expertise-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.expertise-card {
    /* background-color: white; */
    padding: 0px 25px;
}

.ec-mobile-padding-top {
    padding-top: 25px;
}

@media screen and (min-width: 600px) {

    .expertise-body {
        flex-direction: row;
    }

    .expertise-title {
        width: 30%;
        flex: .3;
        text-align: left;
        padding-right: 25px;
    }

    .expertise-logos > img {
        min-width: 100%;
        flex: 1;
    }
    
    .expertise-cards {
        min-width: 70%;
        flex: .7;
    }

}

@media screen and (min-width: 800px) {

    .expertise-logos > img {
        min-width: 50%;
        flex: .5;
    }

    .expertise-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .expertise-card {
        min-width: 50%;
        flex: .5;
    }

    .ec-mobile-padding-top {
        padding-top: unset;
    }

    .ec-table-padding-top {
        padding-top: 30px;
    }

}

@media screen and (min-width: 1000px) {

    .expertise-body {
        padding: 240px 16px 120px 16px;
        flex-direction: row;
    }


}