.expertise-container {
    display: inline-block;
    background-color: #F8F8F8;
}

.expertise-body {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 80px 30px 0px 30px;
}

.expertise-top-content {
    display: flex;
    flex-direction: column;
}

.expertise-body h5 {
    margin-top: 5px;
}

.expertise-body p {
    margin-top: 20px;
}

.expertise-title {
    text-align: center;
}

.expertise-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0px;
}

.expertise-logo {
    height: 50px;
    flex: .25;
    min-width: 25%;
}

.expertise-logo-special {
    height: 25px;
    flex: .25;
    min-width: 25%;
}

.el-margin-top {
    margin-top: 40px;
}

.expertise-cards {
    display: flex;
    flex-direction: column;
}

.expertise-card-icon {
    font-family: "Lato";
    font-weight: 400;
    font-size: 25px;
}

.ec-column-margin-top {
    margin-top: 40px;
}

@media screen and (min-width: 767px) {

    .expertise-body {
        flex-direction: column;
        padding: 100px 60px 0px 60px;
    }

    .expertise-logos {
        margin: 60px 0px;
    }

    .el-margin-top {
        margin-top: 60px;
    }

    .ec-column-margin-top {
        margin-top: 60px;
    }

}

@media screen and (min-width: 1024px) {

    .expertise-body {
        padding: 120px 120px 0px 120px;
        flex-direction: column;
    }

    .expertise-top-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .expertise-title {
        width: 35%;
        flex: .35;
        text-align: left;
    }

    .expertise-logos {
        width: 60%;
        flex: .6;
        margin: 0px 0px;
    }

    .expertise-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
    }
    
    .expertise-card {
        min-width: 47.5%;
        flex: .475;
    }

    .ec-column-margin-top {
        margin-top: unset;
    }

    .ec-tablet-margin-top {
        margin-top: 80px;
    }

}
